<div class="page-hero-carousel">
  <ng-container *ngFor="let image of images; let i = index">
    <div class="page-hero-carousel__slide"
         *ngIf="i === currentSlide"
         [class.active]="true">
      <picture>
        <ng-container *ngIf="toWebp(image) as webp">
          <source [attr.srcset]="webp" type="image/webp">
        </ng-container>
        <img class="page-hero-carousel__image"
             data-no-gallery="true"
             [ngSrc]="image"
             fill
             [priority]="i === currentSlide"
             alt="">
      </picture>
    </div>
  </ng-container>
</div>
